* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#myCanvas {
  border: 3px solid rgb(224, 215, 222);
}

.container {
  text-align: center;
  margin-top: 5rem;
  background-color: rgb(25, 2, 46);
}
